.vvv{
    padding: 50px;
    border-radius: 30px;
}

.baa{
    width: 200%;
    padding: 30px;
    box-shadow: 4px;
    margin-right: 5px;
}
h1{
    position: absolute;
    top: 65%;
    left: 9%;
    color: gold;
    font-style: inherit;
    font-size: 70px;

}
/* h2{
    position: absolute;
    top: 95%;
    left: 9%;
    color: rgb(34, 56, 178);
    font-style: italic;
    font-size: 30px;

} */


h5{
    
    position: absolute;
    top: 19%;
    left: 9%;
    color: rgb(18, 108, 243);
    font-style: italic;
    font-size: 20px;
}